<mtapp:setting
   id="HatenaID"
   label="<__trans phrase="Your HATENA ID">"
>
  <p>
    <input type="text" name="HatenaID" id="HatenaID" value="<mt:if name="HatenaID"><mt:var name="HatenaID"></mt:if>">
  </p>
</mtapp:setting>